DATABASE_URL=postgresql://<username>:<password>@<ip>:<port>/<dbname>

NEXTAUTH_SECRET=<auth_secret>
NEXTAUTH_URL=<auth_url>

TB_URL=<thingsboard_url>
TB_USERNAME=<thingsboard_username>
TB_PASSWORD=<thinsboard_password>
TB_WEBHOOK_SECRET=<webhook_secret>

MQTT_HOST=<ip_mqtt>
MQTT_PORT=1883

BREVO_API_KEY=<BREVO_API_KEY>
BREVO_SENDER_EMAIL=<BREVO_SENDER_EMAIL>
BREVO_SENDER_NAME=<BREVO_SENDER_NAME

GOOGLE_CLIENT_ID=<GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET=<GOOGLE_CLIENT_SECRET>

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=<CLOUDINARY_NAME>
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=<CLOUDINARY_PRESET>
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>

PUSHER_APP_ID=<PUSHER_APP_ID>
PUSHER_SECRET=<PUSHER_SECRET>
PUSHER_WEBHOOK_SECRET=<PUSHER_WEBHOOK_SECRET
NEXT_PUBLIC_PUSHER_KEY=<PUBLIC_USER_KEY>
NEXT_PUBLIC_PUSHER_CLUSTER=<PUBLIC_PUSHER_CLUSTER>

CRON_SECRET=<CRON_SECRET>

AI_API_URL=https://ai.hehehe.tech
AI_API_KEY=<AI_API_KEY>
AI_AUTO_FEEDING_ENABLED=true
AI_AUTO_FEEDING_COOLDOWN_MINUTES=60

TELEGRAM_BOT_TOKEN=<TELEGRAM_BOT_TOKEN>
TELEGRAM_BOT_USERNAME=heheheIoTBot
TELEGRAM_CHAT_ID=<TELEGRAM_CHAT_ID>